*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;

}

#register{
    width: 100%;
    height: 86vh;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/24/10/58/sand-2005066_640.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 85vh;
    /* background-position:bottom; */
    display: flex;
    justify-content: center;
align-content: center;
   
}
#register button{
    background-color: transparent;
    border: none;
    color: black;
}

#register #eye{
    position: relative;
    left: -3vw;
    top: 3vh;
    
}
#register form{
    width: 25vw;
    display: flex;
    justify-content: center;
align-content: center;
flex-direction: column;
    line-height: 5vh; 
 
}
.inputhw{
    width: 30vw;
    height: 4vh;
    border-radius: 2vw ;
  
}
#register #eye{
    position: relative;
    left: -3vw;
    top: 3vh;
    
}

/******************Admin Register*************/
#adminRegister{
    width: 100%;
    height: 86vh;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/24/10/58/sand-2005066_640.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 85vh;
    /* background-position:bottom; */
    display: flex;
    justify-content: center;
align-content: center;
   
}


    #adminRegister #eye{
        position: relative;
        left: 25vw;
        top: -3vh;
        
    }
    
    #adminRegister form{
    width: 25vw;
    display: flex;
    justify-content: center;
align-content: center;
flex-direction: column;
   
    /* line-height: 35px;  */
    
}
#adminRegister button{
    background-color: transparent;
    border: none;
    color: black;
}
.inputhw{
    width: 30vw;
    height: 4vh;
    border-radius: 2vw;
}

/***************Login******************/
#login{
    width: 100%;
    height: 86vh;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/24/10/58/sand-2005066_640.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 85vh;
    /* background-position:bottom; */
    display: flex;
    justify-content: center;
align-content: center;
   
}

#login form{
    width: 25vw;
    display: flex;
    justify-content: center;
align-content: center;
flex-direction: column;
    line-height: 5vh; 
}
#login button{
    background-color: transparent;
    border: none;
    color: black;
}
#eye{
    position: relative;
    left: 25vw;
    bottom: 5vh;
}
.inputhw{
    width: 30vw;
    height: 4vh;
    border-radius: 2vw ;
  
}


